[submodule "skynet"]
	path = skynet
	url = https://github.com/najsword/skynet.git
[submodule "redis"]
	path = redis
	url = https://github.com/najsword/redis.git
	branch = 3.2
[submodule "lsocket"]
	path = lsocket
	url = https://github.com/najsword/lsocket.git
